<div class="row">
  <div class="col-9">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="friendships_result">
        <%= render 'users/friendships_result' %>
      </tbody>
    </table>
  </div>
</div>