<h2>user details</h2>
<br><strong>Name: </strong> <%= @user.full_name %>
<br><strong>Email:  </strong> <%= @user.email%>
<br>
<% if current_user.can_follow?(@user) %>
  <%= link_to 'Follow friend',
    friendships_path(friend: @user),
    class: 'btn btn-sm btn-success', method: :post  %>
<% else %>
  <span class="badge badge-secondary">
    Already following
  </span>
<% end %>